h2 {
    font-size: 35px;
    line-height: 100%;
    text-transform: capitalize;
    margin: 10px 0px;
}

h3 {
    font-size: 25px;
    line-height: 100%;
    text-transform: capitalize;
    margin: 10px 0px;
}

p {
    text-transform: capitalize;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.hero h1 {
    position: absolute;
    padding: 10px;
    margin: 10px;
    background-color: rgb(253, 249, 249, 0.85);
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}

.hero img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(white 50%, transparent);
    mask-image: linear-gradient(white 50%, transparent);
}

section {
    padding: 100px 10px;
    background-color: #ffffff;
    min-height: 400px;
}

section:nth-child(even) {
    background-color: #f9f9f9;
}

.index img {
    width: 100%;
    -webkit-mask-image: url("/Cantor/icon/splash.png");
    mask-image: url("/Cantor/icon/splash.png");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    opacity: 0.75;
}

.index .apply {
    display: flex;
    gap: 10px;
}

.index a.btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn);
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: var(--transition);
    text-align: center;
    width: 150px;
    margin: 20px 0px 40px 0px;
}

/* https://alvarotrigo.com/blog/css-animations-scroll/
This is not my code, this code was taken from internet
The refernce to this code is linked above */
.reveal {
    position: relative;
    transform: translateY(60px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.card {
    border: 1px solid var(--purple);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.4rem;
}

.card ul {
    margin: 10px 0px 20px 17px;
}

.card .btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn);
    transition: var(--transition);
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: auto;
}

#detail p {
    padding: 5px 0px;
}

.contact p {
    padding-left: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main form input,
main form textarea {
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    border: 3px solid transparent;
    border-color: var(--light-purple);
    border-radius: 8px;
}

main form textarea {
    resize: vertical;
    height: 150px;
}

main form input:focus,
main form textarea:focus {
    background-color: rgb(245, 245, 245);
    border-color: var(--purple);
}

main form button {
    border: transparent;
    background-color: var(--btn);
    line-height: 30px;
    color: var(--white);
    border-style: solid;
    transition: 300ms;
    cursor: pointer;
    border-radius: 8px;
}

.map {
    margin: 0px 0px 100px 0px;
}

.thank-you-link ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.thank-you-link ul a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--btn);
    padding: 10px;
    border-radius: 8px;
    transition: var(--transition);
    display: block;
    width: 230px;
    text-align: center;
}

.staff h3 {
    margin-top: 15px;
}

.student a {
    text-decoration: none;
    color: var(--black);
}